*{
  background-color: black;
  font-family: Helvetica;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

header {
  display: flex;
  top: 0;
  height: 69px;
  width: 100%;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid seashell;
}

.logo {
  height: 50px;
  padding-left: 10px;
  display: flex;
  flex-grow: 1;
}

nav span {
  display: inline-block;
  padding-right: 10px;
  font-size: 22px;
  padding-top: 20px;
  padding-right: 20px;
}

a {
  text-decoration: underline;
  color: seashell;
}

/* Mission Section */
.main-container {
  display: flex;
  justify-content: center;
}

.sub-container {
  display: flex;
  justify-content: center;
  background-image: url('../images/mission.jpg');
  height: 700px;
  width: 1200px;
  align-content: center;
  padding-top: 69px;
}

#mission {
  align-self: center;
  opacity: 1.0;
  width: 1200px;
}

#mission h2,
h4 {
  opacity: 0.9;
}
